#!/usr/bin/env bash
eval "$(lpass show Ansible/github.com/mamercad/mamercad.cloudmason --notes)"

export ANSIBLE_CALLBACK_PLUGINS="$(python3 -m ara.setup.callback_plugins)"
export ARA_API_CLIENT="http"
export ARA_API_SERVER="https://ara.cloudmason.org"

eval "$(lpass show 'Personal/Cloudmason AWX' --notes)"
