#!/usr/bin/env bash
eval "$(lpass show Ansible/github.com/mamercad/mamercad.cloudmason --notes)"

eval $(python3 -m ara.setup.env)
export ARA_API_CLIENT="http"
export ARA_API_SERVER="https://ara.cloudmason.org"

eval "$(lpass show 'Personal/Cloudmason AWX' --notes)"
