#!/usr/bin/env bash

eval "$(lpass show 'Ansible/github.com/mamercad/mamercad.cloudmason' --notes)"
eval "$(lpass show 'Personal/Cloudmason AWX' --notes)"

# eval $(python3 -m ara.setup.env)
# export ARA_API_CLIENT="http"
# export ARA_API_SERVER="https://ara.cloudmason.org"

export DOCKER_HOST="thinkpad"

# ❯ vault kv put concourse/main/awx/users/mark \
# PASSWORD="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .users.mark.password)"

# ❯ vault kv put concourse/main/awx/users/mark \
# PASSWORD="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .users.mark.password)"

export AWX_USERS_MARK_PASSWORD="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .users.mark.password)"
export AWX_CREDENTIALS_CLOUDMASON_GITHUB_SSH_KEY="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .credentials.cloudmason.github.ssh_key)"
export AWX_CREDENTIALS_CLOUDMASON_AWX_PASSWORD="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .credentials.cloudmason.awx.password)"
export AWX_CREDENTIALS_CLOUDMASON_AWX_SSH_KEY="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .credentials.cloudmason.awx.ssh_key)"
export AWX_CREDENTIALS_CLOUDMASON_MARK_PASSWORD="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .credentials.cloudmason.mark.password)"
export AWX_CREDENTIALS_CLOUDMASON_MARK_SSH_KEY="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .credentials.cloudmason.mark.ssh_key)"
export AWX_CREDENTIALS_CLOUDMASON_MARK_SSH_KEY_UNLOCK="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .credentials.cloudmason.mark.ssh_key_unlock)"
export AWX_CREDENTIALS_CLOUDMASON_MAMERCAD_SSH_KEY="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .credentials.cloudmason.mamercad.ssh_key)"
export AWX_CREDENTIALS_CLOUDMASON_MAMERCAD_SSH_KEY_UNLOCK="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .credentials.cloudmason.mamercad.ssh_key_unlock)"
export AWX_CREDENTIALS_CLOUDMASON_VAULT_PASSWORD="$(lpass show 'Homelab\Concourse/AWX' --notes | jq -r .credentials.cloudmason.vault.password)"
