[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "3.2.0"
ansible-lint = "5.0.12"

[dev-packages]
ara = "1.5.7"
ansible-builder = "1.0.1"
awxkit = "19.0.1"
kubernetes = "18.20.0"
paramiko = "2.7.2"
pre-commit = "2.15.0"

[requires]
python_version = "3.8"
