---
'1':
  type: PTR
  value: gateway.cloudmason.org.
'10':
  type: PTR
  value: net1.cloudmason.org.
'100':
  type: PTR
  value: maryrog.cloudmason.org.
'101':
  type: PTR
  value: buddyxboxx.cloudmason.org.
'102':
  type: PTR
  value: rog-wifi.cloudmason.org.
'103':
  type: PTR
  value: retroarcade.cloudmason.org.
'104':
  type: PTR
  value: wyzefront.cloudmason.org.
'105':
  type: PTR
  value: honeycrisp.cloudmason.org.
'106':
  type: PTR
  value: boomer.cloudmason.org.
'107':
  type: PTR
  value: db2.cloudmason.org.
'109':
  type: PTR
  value: C02D6D7BMD6M.cloudmason.org.
'11':
  type: PTR
  value: net2.cloudmason.org.
'110':
  type: PTR
  value: jonagold.cloudmason.org.
'111':
  type: PTR
  value: clusterpi6.cloudmason.org.
'112':
  type: PTR
  value: livingroomtv.cloudmason.org.
'115':
  type: PTR
  value: maryipad.cloudmason.org.
'116':
  type: PTR
  value: clusterpi5.cloudmason.org.
'117':
  type: PTR
  value: ooma.cloudmason.org.
'118':
  type: PTR
  value: qnap1.cloudmason.org.
'119':
  type: PTR
  value: qnap2.cloudmason.org.
'12':
  type: PTR
  value: net3.cloudmason.org.
'120':
  type: PTR
  value: familyroom.cloudmason.org.
'121':
  type: PTR
  value: smartplug3.cloudmason.org.
'122':
  type: PTR
  value: ringbasestation.cloudmason.org.
'124':
  type: PTR
  value: bedroom.cloudmason.org.
'125':
  type: PTR
  value: node0.cloudmason.org.
'127':
  type: PTR
  value: prodesk.cloudmason.org.
'129':
  type: PTR
  value: maryiphone.cloudmason.org.
'13':
  type: PTR
  value: net4.cloudmason.org.
'131':
  type: PTR
  value: smartplug5.cloudmason.org.
'132':
  type: PTR
  value: smartplug2.cloudmason.org.
'133':
  type: PTR
  value: ringbridge.cloudmason.org.
'134':
  type: PTR
  value: printer.cloudmason.org.
'135':
  type: PTR
  value: rokufamilyroom.cloudmason.org.
'136':
  type: PTR
  value: markrog.cloudmason.org.
'137':
  type: PTR
  value: switch4.cloudmason.org.
'138':
  type: PTR
  value: gala-wireless.cloudmason.org.
'139':
  type: PTR
  value: thinkpad-wireless.cloudmason.org.
'144':
  type: PTR
  value: basementlamp2.cloudmason.org.
'145':
  type: PTR
  value: node4.cloudmason.org.
'149':
  type: PTR
  value: biaslighting.cloudmason.org.
'150':
  type: PTR
  value: node3.cloudmason.org.
'162':
  type: PTR
  value: marymacbook.cloudmason.org.
'180':
  type: PTR
  value: judeipad.cloudmason.org.
'20':
  type: PTR
  value: openhab.cloudmason.org.
'200':
  type: PTR
  value: traefik.kube-system.thinkpad.cloudmason.org.
'201':
  type: PTR
  value: awx-service.awx.thinkpad.cloudmason.org.
'202':
  type: PTR
  value: concourse-web.concourse-main.thinkpad.cloudmason.org.
'204':
  type: PTR
  value: vault-ui.vault-main.thinkpad.cloudmason.org.
'221':
  type: PTR
  value: awx.ambrosia.cloudmason.org.
'224':
  type: PTR
  value: kiali.cloudmason.org.
'240':
  type: PTR
  value: concourse.lenovo.cloudmason.org.
'241':
  type: PTR
  value: awx-dev-service.default.lenovo.cloudmason.org.
'242':
  type: PTR
  value: awx.lenovo.cloudmason.org.
'243':
  type: PTR
  value: vault.lenovo.cloudmason.org.
'3':
  type: PTR
  value: cloudkey.cloudmason.org.
'30':
  type: PTR
  value: cloudkeyfallback.cloudmason.org.
'31':
  type: PTR
  value: coffeepot.cloudmason.org.
'40':
  type: PTR
  value: switch2.cloudmason.org.
'41':
  type: PTR
  value: smarthub.cloudmason.org.
'43':
  type: PTR
  value: rokubedroom.cloudmason.org.
'44':
  type: PTR
  value: alexa1.cloudmason.org.
'46':
  type: PTR
  value: ringdoorbell.cloudmason.org.
'47':
  type: PTR
  value: roomba.cloudmason.org.
'49':
  type: PTR
  value: pws.cloudmason.org.
'50':
  type: PTR
  value: sunfire.cloudmason.org.
'51':
  type: PTR
  value: fuji.cloudmason.org.
'52':
  type: PTR
  value: smartplug6.cloudmason.org.
'53':
  type: PTR
  value: alexa2.cloudmason.org.
'55':
  type: PTR
  value: buddyrokutv.cloudmason.org.
'56':
  type: PTR
  value: alexa6.cloudmason.org.
'57':
  type: PTR
  value: alexa5.cloudmason.org.
'58':
  type: PTR
  value: indyiphone.cloudmason.org.
'60':
  type: PTR
  value: smartplug4.cloudmason.org.
'62':
  type: PTR
  value: clusterpi0.cloudmason.org.
'63':
  type: PTR
  value: basement.cloudmason.org.
'64':
  type: PTR
  value: clusterpi2.cloudmason.org.
'66':
  type: PTR
  value: clusterpi4.cloudmason.org.
'67':
  type: PTR
  value: thinkpad-wired.cloudmason.org.
'68':
  type: PTR
  value: clusterpi3.cloudmason.org.
'70':
  type: PTR
  value: switch3.cloudmason.org.
'71':
  type: PTR
  value: alexa7.cloudmason.org.
'72':
  type: PTR
  value: juderokutv.cloudmason.org.
'73':
  type: PTR
  value: gala-wired.cloudmason.org.
'74':
  type: PTR
  value: minecraft1.cloudmason.org.
'76':
  type: PTR
  value: nest.cloudmason.org.
'77':
  type: PTR
  value: judeypc.cloudmason.org.
'8':
  type: PTR
  value: net5.cloudmason.org.
'80':
  type: PTR
  value: alexa3.cloudmason.org.
'81':
  type: PTR
  value: clusterpi1.cloudmason.org.
'83':
  type: PTR
  value: maryipad2.cloudmason.org.
'84':
  type: PTR
  value: nintendoswitch.cloudmason.org.
'86':
  type: PTR
  value: streamlabs.cloudmason.org.
'87':
  type: PTR
  value: diningroom.cloudmason.org.
'88':
  type: PTR
  value: wyzeback.cloudmason.org.
'9':
  type: PTR
  value: net6.cloudmason.org.
'90':
  type: PTR
  value: marypcwifi.cloudmason.org.
'92':
  type: PTR
  value: buddyiphone.cloudmason.org.
'93':
  type: PTR
  value: rokulivingroom.cloudmason.org.
'94':
  type: PTR
  value: judeswitch.cloudmason.org.
'95':
  type: PTR
  value: switch1.cloudmason.org.
'96':
  type: PTR
  value: sense.cloudmason.org.
'97':
  type: PTR
  value: buddyipad.cloudmason.org.
'98':
  type: PTR
  value: lenovo.cloudmason.org.
'205':
  type: PTR
  value: statsd-svc.statsd.thinkpad.cloudmason.org.
'243':
  type: PTR
  value: ara-svc.ara.lenovo.cloudmason.org.
