---
'':
  - type: A
    values:
      - 192.168.1.10
      - 192.168.1.11
  - ttl: 3600
    type: MX
    values:
      - exchange: smtp.cloudmason.org.
        preference: 10
C02D6D7BMD6M:
  type: A
  value: 192.168.1.109
alexa1:
  type: A
  value: 192.168.1.44
alexa2:
  type: A
  value: 192.168.1.53
alexa3:
  type: A
  value: 192.168.1.80
alexa5:
  type: A
  value: 192.168.1.57
alexa6:
  type: A
  value: 192.168.1.56
alexa7:
  type: A
  value: 192.168.1.71
alexashow1:
  type: A
  value: 192.168.1.124
ara:
  type: CNAME
  value: net.cloudmason.org.
ara-svc.ara.lenovo:
  type: A
  value: 192.168.1.243
awx:
  type: CNAME
  value: net.cloudmason.org.
awx-dev:
  type: CNAME
  value: net.cloudmason.org.
awx-dev-service.default.lenovo:
  type: A
  value: 192.168.1.241
awx-service.awx.thinkpad:
  type: A
  value: 192.168.1.201
awx.lenovo:
  type: A
  value: 192.168.1.242
basement:
  type: A
  value: 192.168.1.63
basementlamp2:
  type: A
  value: 192.168.1.144
bedroom:
  type: A
  value: 192.168.1.124
biaslighting:
  type: A
  value: 192.168.1.149
boomer:
  type: A
  value: 192.168.1.106
buddyipad:
  type: A
  value: 192.168.1.97
buddyiphone:
  type: A
  value: 192.168.1.92
buddyrokutv:
  type: A
  value: 192.168.1.55
buddyxboxx:
  type: A
  value: 192.168.1.101
cloudkey:
  type: A
  value: 192.168.1.3
cloudkeyfallback:
  type: A
  value: 192.168.1.30
clusterpi0:
  type: A
  value: 192.168.1.62
clusterpi1:
  type: A
  value: 192.168.1.81
clusterpi2:
  type: A
  value: 192.168.1.64
clusterpi3:
  type: A
  value: 192.168.1.68
clusterpi5:
  type: A
  value: 192.168.1.116
clusterpi4:
  type: A
  value: 192.168.1.66
clusterpi5:
  type: A
  value: 192.168.1.116
clusterpi6:
  type: A
  value: 192.168.1.111
coffeepot:
  type: A
  value: 192.168.1.31
concourse:
  type: CNAME
  value: net.cloudmason.org.
concourse-web.concourse-main.thinkpad:
  type: A
  value: 192.168.1.202
db2:
  type: A
  value: 192.168.1.107
db3:
  type: A
  value: 192.168.1.137
diningroom:
  type: A
  value: 192.168.1.87
dns:
  type: A
  values:
    - 192.168.1.10
    - 192.168.1.11
docker:
  type: CNAME
  value: net.cloudmason.org.
docker.lenovo:
  type: A
  value: 192.168.1.241
familyroom:
  type: A
  value: 192.168.1.120
fireedge:
  type: CNAME
  value: net.cloudmason.org.
fuji:
  type: A
  value: 192.168.1.51
gala:
  type: CNAME
  value: gala-wired.cloudmason.org.
gala-wired:
  type: A
  value: 192.168.1.73
gala-wireless:
  type: A
  value: 192.168.1.138
garagedoor:
  type: A
  value: 192.168.1.121
gateway:
  type: A
  value: 192.168.1.1
grafana:
  type: CNAME
  value: net.cloudmason.org.
honeycrisp:
  type: A
  value: 192.168.1.105
indiphone:
  type: A
  value: 192.168.1.58
jira:
  type: CNAME
  value: cloudmason.atlassian.net.
jonagold:
  type: A
  value: 192.168.1.110
judeair:
  type: A
  value: 192.168.1.94
judeipad:
  type: A
  value: 192.168.1.180
juderokutv:
  type: A
  value: 192.168.1.72
judeswitch:
  type: A
  value: 192.168.1.94
judeypc:
  type: A
  value: 192.168.1.77
kiali:
  type: A
  value: 192.168.1.224
lenovo:
  type: A
  value: 192.168.1.98
livingroomtv:
  type: A
  value: 192.168.1.112
mail:
  type: A
  values:
    - 192.168.1.10
    - 192.168.1.11
markrog:
  type: A
  value: 192.168.1.136
markxboxone:
  type: A
  value: 192.168.1.47
maryipad:
  type: A
  value: 192.168.1.115
maryipad2:
  type: A
  value: 192.168.1.83
maryiphone:
  type: A
  value: 192.168.1.129
marymacbook:
  type: A
  value: 192.168.1.162
marypcwifi:
  type: A
  value: 192.168.1.90
maryrog:
  type: A
  value: 192.168.1.100
minecraf1:
  type: A
  value: 192.168.1.74
minecraft:
  type: CNAME
  value: thinkpad.cloudmason.org.
nest:
  type: A
  value: 192.168.1.76
net:
  type: A
  values:
    - 192.168.1.10
    - 192.168.1.11
net1:
  type: A
  value: 192.168.1.10
net2:
  type: A
  value: 192.168.1.11
net3:
  type: A
  value: 192.168.1.12
net4:
  type: A
  value: 192.168.1.13
net5:
  type: A
  value: 192.168.1.8
net6:
  type: A
  value: 192.168.1.9
nintendoswitch:
  type: A
  value: 192.168.1.84
node0:
  type: A
  value: 192.168.1.125
node3:
  type: A
  value: 192.168.1.150
node4:
  type: A
  value: 192.168.1.145
node5:
  type: A
  value: 192.168.1.51
nzbget:
  type: CNAME
  value: net.cloudmason.org.
ooma:
  type: A
  value: 192.168.1.117
openhab:
  type: A
  value: 192.168.1.20
opennebula:
  type: CNAME
  value: net.cloudmason.org.
plugoutside2:
  type: A
  value: 192.168.1.98
printer:
  type: A
  value: 192.168.1.134
prodesk:
  type: A
  value: 192.168.1.127
prometheus:
  type: CNAME
  value: net.cloudmason.org.
pws:
  type: A
  value: 192.168.1.49
qnap:
  type: A
  values:
    - 192.168.1.118
    - 192.168.1.119
qnap1:
  type: A
  value: 192.168.1.118
qnap2:
  type: A
  value: 192.168.1.119
qnapweb:
  type: CNAME
  value: net.cloudmason.org.
radarr:
  type: CNAME
  value: net.cloudmason.org.
retroarcade:
  type: A
  value: 192.168.1.103
ringbasestation:
  type: A
  value: 192.168.1.122
ringbridge:
  type: A
  value: 192.168.1.133
ringdoorbell:
  type: A
  value: 192.168.1.46
rog-wifi:
  type: A
  value: 192.168.1.102
rokubedroom:
  type: A
  value: 192.168.1.43
rokufamilyroom:
  type: A
  value: 192.168.1.135
rokulivingroom:
  type: A
  value: 192.168.1.93
roomba:
  type: A
  value: 192.168.1.47
sense:
  type: A
  value: 192.168.1.96
smarthub:
  type: A
  value: 192.168.1.41
smartplug2:
  type: A
  value: 192.168.1.132
smartplug3:
  type: A
  value: 192.168.1.121
smartplug4:
  type: A
  value: 192.168.1.60
smartplug5:
  type: A
  value: 192.168.1.131
smartplug6:
  type: A
  value: 192.168.1.52
smtp:
  type: A
  values:
    - 192.168.1.10
    - 192.168.1.11
sonarr:
  type: CNAME
  value: net.cloudmason.org.
statsd:
  type: CNAME
  value: statsd-svc.statsd.thinkpad.cloudmason.org.
statsd-svc.statsd.thinkpad:
  type: A
  value: 192.168.1.205
streamlabs:
  type: A
  value: 192.168.1.86
sunfire:
  type: A
  value: 192.168.1.50
switch1:
  type: A
  value: 192.168.1.95
switch2:
  type: A
  value: 192.168.1.40
switch3:
  type: A
  value: 192.168.1.70
switch4:
  type: A
  value: 192.168.1.137
thelounge:
  type: CNAME
  value: net.cloudmason.org.
thinkpad:
  type: CNAME
  value: thinkpad-wired.cloudmason.org.
thinkpad-wired:
  type: A
  value: 192.168.1.67
thinkpad-wireless:
  type: A
  value: 192.168.1.139
traefik:
  type: CNAME
  value: net.cloudmason.org.
traefik.kube-system.thinkpad:
  type: A
  value: 192.168.1.200
unifi:
  type: CNAME
  value: cloudkey.cloudmason.org.
valheim:
  type: CNAME
  value: thinkpad.cloudmason.org.
vault:
  type: CNAME
  value: net.cloudmason.org.
vault-ui.vault-main.thinkpad:
  type: A
  value: 192.168.1.204
web:
  type: CNAME
  value: net.cloudmason.org.
www:
  type: CNAME
  value: net.cloudmason.org.
wyzeback:
  type: A
  value: 192.168.1.88
wyzefront:
  type: A
  value: 192.168.1.104
zabbix:
  type: CNAME
  value: net.cloudmason.org.
